<!-- Đổi mật khẩu -->
<style>
  .change-pass {
    max-width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
  }
</style>
<div class="container change-pass">
  <h4 class="text-center">Change password</h4>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New password</label>
    <input type="password" class="form-control" id="newPassword" required />
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label"
      >Re enter new password</label
    >
    <input type="password" class="form-control" id="confirmPassword" required />
  </div>
  <div class="button text-center">
    <button type="submit" class="btn btn-primary" onclick="changePassword()">
      Save
    </button>
  </div>
</div>
<script>
  async function changePassword() {
    try {
      const newPassword = $("#newPassword").val()
      const confirmPassword = $("#confirmPassword").val()
      if (newPassword !== confirmPassword) {
        alert("Password does not match")
        return
      }
      const url = `${window.location.origin}/auth/changepassword`
      const res = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ password: newPassword }),
      })
      const data = await res.json()
      if (res.status === 200) {
        alert(data.message)
        window.location.href = "/"
      } else {
        alert(data.message)
      }
    } catch (error) {
      console.log(error)
    }
  }
</script>
