<div class="container">
  <section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-12 col-sm-offset-1 text-center">
            <div class="four_zero_four_bg">
              <h1 class="text-center">404</h1>
            </div>
            <div class="contant_box_404">
              <h3 class="h2">Có vẻ như bạn đã bị lạc</h3>
              <p>Trang bạn tìm kiếm không tồn tại!</p>
              <a href="/" class="link_404">VỀ TRANG CHỦ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
