<style>
  .header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
  }
  header .navbar {
    background-color: #faeed1;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>
<header class="noPrint">
  <div class="header-container container-fluid">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PHONESTORE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse noPrint"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 noPrint">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item ms-5" style="width: 500px">
              <div class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Find product by name or Barcode"
                  aria-label="Search"
                  style="width: 100%"
                />
                <button
                  class="btn btn-outline-success"
                  onclick="searchProduct()"
                >
                  Search
                </button>
              </div>
            </li>
          </ul>

          <div>
            <% if(user) { %>

            <a class="btn btn-primary me-2" href="/account"
              ><i class="fa-solid fa-user me-1"></i><%= user.username %></a
            >
            <a class="btn btn-primary" href="#" onclick="logout()"
              ><i class="fa-solid fa-right-from-bracket me-1"></i>Logout</a
            >
            <% } else { %>
            <a href="/auth/login" class="btn btn-primary"
              ><i class="fa-solid fa-right-to-bracket me-1"></i>Login</a
            >
            <% } %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<script>
  async function logout() {
    window.location.href = "/auth/logout"
  }

  async function searchProduct() {
    const search = document.querySelector("input[type=search]").value
    // set localStorage
    localStorage.setItem("search", search)
  }
</script>
