<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Phone Store</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="wrapper">
      <main><%- body %></main>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
